<mat-grid-list cols="6" rowHeight="200px">

  <mat-grid-tile *ngFor="let city of addCityToIndexListSelector$ | async">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{city.name}} <img mat-card-image src="https://openweathermap.org/img/wn/{{city.icon}}@2x.png" alt=""></mat-card-title>
        <mat-card-subtitle>
          Temperature:
          {{city.temperature}},
          {{city.description}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button (click)="refreshCityWeather(city.name)">REFRESH</button>
        <button mat-button (click)="deleteCityWeather(city.name)">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<mat-divider></mat-divider>

<app-form></app-form>
