<mat-grid-list cols="1" rowHeight="150px">
  <mat-grid-tile>
    <form class="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Select city</mat-label>
        <input type="text" matInput [formControl]="cityControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let city of loadCitiesListSelector$ | async" [value]="city">
            {{city.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button color="primary" class="button" (click)="addCityToIndex(cityControl.value.name); $event.preventDefault()">
        <mat-icon>add</mat-icon>
        Add
      </button>
    </form>
  </mat-grid-tile>
</mat-grid-list>
